header, nav, body {
    text-align: center;
}
body {
    font-family: sans-serif;
    background-color: #d3f4ff;
}
header {
    background: #00aaff;
    color: white;
    padding: 15px;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    padding: 10px;
    margin: 5px auto;
    background: #00d9ff;
    border-radius: 5px;
    color: white;
    width: 150px;
}
